{% extends "root.html" %} 
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{%  url 'home' %}" style="color:white">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{%  url 'add' %}" style="color:white">Add Users</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tbody>
            {%  for users in userList %}
            <tr>
                <th scope="row">{{users.id}}</th>
                <td>{{users.username}}</td>
                <td>{{users.email_address}}</td>
                <td>{{users.date_added}}</td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}